:root {
  --primary:  maroon;
  --secundary: #ffffff;
  --terciary : #800f0f;
}
#player {
  background-color: black;
  width: 90%;
  max-width: 375px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2); /* x-axis y-axis blur spread color */
}

.card {
  background-color: black ;
  box-shadow: none;
  margin: 0;
}

h4 {
  color: var(--secundary);
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
p {
  color: var(--secundary);
  font-size: 24px;
  margin-top: 1%;
  text-align: center;
  }

  i {
    color: var(--secundary);
    font-size: 24px;
    }

h5 {
  color: var(--secundary);
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.card-image {
  height: 10px;
}

audio {
  width: 100%;
  margin-top: 30px;
}

#play-pause,
#previous-track,
#next-track {
  background-color: var(--primary);
}

#player-controls {
  color: var(--secundary);
  margin-bottom: 0px;
  margin-top: 10px;
}

#volume-icon {
  color: var(--secundary);
  transform: translateY(3px);
}

/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  background-color: var(--primary);
}

/* Mozilla */
input[type="range"]::-moz-range-thumb {
  background-color: var(--primary);
}

/* Internet Explorer e Edge */
input[type="range"]::-ms-thumb {
  background-color: var(--primary);
}

.change-tracks {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
